Lista 10/A - intercala 8.exe
Lista 10/A - intercala8 certo.exe
Lista 10/D - busca binaria.exe
Lista 9/A - ordenaçao por bolha.exe
Lista 9/algoritmos de ordenacao.exe
Lista 9/B - ordenaçao por seleçao.exe
Lista 9/busca geral danilo.exe
Lista 9/C - ordenaçao por inserçao.exe
Lista 9/D - busca geral num conjunto nao ordenado.exe
Lista 9/selectionSort.exe
